/** General rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 62.5%;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

/** global rules */

.background {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

/** nav mobile */
.mobile-nav {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 48px;
    background-color: #fff;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.15);
}

.mobile-nav-header img {
    float: left;
    height: 48px;
}

.mobile-nav-header img:hover {
    cursor: pointer;
}

.mobile-nav-icons {
    float: right;
}

.mobile-nav-icons .fas {
    font-size: 1.6rem;
    padding: 16px;
    border-left: 1px solid #eee;
}

.mobile-nav-icons .fa-bars {
    color: #f42;
}

.mobile-nav-icons .fa-search {
    color: gray;
}

.mobile-nav-icons .fa-search:hover {
    color: #000;
    cursor: pointer;
}



