/** General rules */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHvxk.ttf)
    format("truetype");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh50Xew8.ttf)
    format("truetype");
}
@font-face {
  font-family: "Teko";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/teko/v10/LYjCdG7kmE0gdQhfgCM.ttf)
    format("truetype");
}
@font-face {
  font-family: "Teko";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/teko/v10/LYjCdG7kmE0gdVBegCM.ttf)
    format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCv6KVjbNBYlgoCjC3Ttw.ttf)
    format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 62.5%;
  width: 100%;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
ul li {
  list-style-type: none;
}
ul {
  list-style-type: none;
}
img {
  max-width: 100%;
  height: auto;
}
/** global rules */
.main {
  overflow-x: hidden;
}
.background {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.grid {
  display: -ms-grid;
  display: grid;
}
.flex {
  display: flex;
}
.block {
  display: block;
}
/** nav mobile */
.mobile-nav {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 48px;
  background-color: #fff;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.15);
}
.mobile-nav-header img {
  float: left;
  height: 48px;
}
.mobile-nav-header img:hover {
  cursor: pointer;
}
.mobile-nav-icons {
  position: relative;
  float: right;
  right: -12px;
}
.mobile-nav-icons .fas {
  font-size: 1.6rem;
  padding: 16px;
  margin-right: 16px;
  border-left: 1px solid #eee;
}
.mobile-nav-icons .fa-bars {
  color: #f42;
}
.mobile-nav-icons .fa-search {
  color: gray;
}
.mobile-nav-icons .fa-search:hover {
  color: #000;
  cursor: pointer;
}
/* desktop nav */
.nav-desktop {
  display: none;
  width: 100%;
  top: 0;
  z-index: 10;
}
.nav-desktop .top-nav {
  justify-content: space-between;
  background: #000;
  color: #ccc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 2.5rem;
  padding: 0 1rem;
}
.nav-desktop .nav-link {
  padding: 0 0.5rem;
}
.nav-desktop .nav-link:hover {
  color: #fff;
}
.top-menu {
  display: none;
  position: sticky !important;
  top: 0;
  justify-content: space-between;
  align-items: center;
  font-family: "Teko", sans-serif;
  font-size: 1.5rem;
  line-height: 3.5rem;
  color: #555;
  background: #fff;
  z-index: 10;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.15);
}
.top-menu .menu-nav-link {
  padding: 0 1rem;
}
.top-menu .menu-nav-link:hover {
  color: #000;
}
.top-menu .top-search {
  padding-right: 1.5rem;
  border-left: 1px solid #eee;
}
/** cover */
.cover {
  padding-top: 60px;
}
.cover-items {
  position: relative;
  padding: 4px;
}
.image-container {
  position: relative;
  width: 100%;
  height: 220px;
}
.cover-items .image-container,
.technology-item .image-container {
  transition: background-color 0.4s ease;
  cursor: pointer;
}
.cover-items .cover-image,
.technology-item .cover-image {
  width: 100%;
  height: 220px;
  z-index: 1;
}
.cover-items .study {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2013/02/cyberlocks-730x422.jpg");
}
.cover-items .cloud {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/11/Untitled-design-3-1-796x417.png");
}
.cover-items .javascript {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/12/1-copy-1-796x417.jpg");
}
.cover-gradient {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9));
  width: 100%;
  height: 220px;
  position: absolute;
  top: 0;
  z-index: 2;
}
.cover-items .cover-item-title {
  position: absolute;
  bottom: 20px;
  left: 15px;
  z-index: 3;
  cursor: pointer;
}
.cover-item-title h2,
.cover-item-title h5 {
  font-family: "Teko", sans-serif;
  font-size: 1.5rem;
  color: #fff;
}
.cover-item-title h4,
.cover-item-title h3 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  color: #fff;
  line-height: 2rem;
}
.cover-item-title ul {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 1.2rem;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5rem;
}
.cover-item-title .author-link:hover {
  color: #eee;
}
.cover-item-title i {
  padding: 0.5rem 0.5rem;
}
.cover-item-title .article-info {
  display: flex;
  padding: 1rem 0;
  align-items: center;
}
.cover-items .white-logo {
  display: none;
}
/** latest */
.wrapper .latest,
.technology-container {
  font-size: 1.6rem;
  margin: 1.6rem;
}
.latest .latest-articles {
  flex-direction: column;
}
.latest .latest-news {
  margin-bottom: 2rem;
}
.latest h2 a,
.technology-item h2 a {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  color: #f42;
  margin-bottom: 1.3rem;
}
.wrapper .orange-title {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  color: #f42;
  margin-bottom: 1.3rem;
}
.wrapper .orange-title:hover {
  color: #000;
}
.story {
  margin-bottom: 1rem;
  grid-template-columns: 12rem auto;
  -ms-grid-columns: 12rem auto;
  column-gap: 1.5rem;
}
.story .latest-image {
  background-repeat: no-repeat;
  width: 100%;
  height: 9rem;
}
.story .one {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/12/PlayStation-Plus-540x270.jpg");
}
.story .two {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/12/slackstock-480x270.jpg");
}
.story .three {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/11/Untitled-design-1-1-516x270.png");
}
.story .four {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/12/WhatsApp-manage-storage-1-516x270.jpg");
}
.story .five {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/12/header-image-nintendo-switch-11-software-update-516x270.png");
}
.story .six {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/12/advice-bad-see-no-evil-monkey-emoji-gq-516x270.png");
}
.story .seven {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/12/1-copy-516x270.jpg");
}
.story .eight {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/12/image001-1-480x270.jpg");
}
.story .cyber {
  background-image: url("https://cdnp3.stackassets.com/b53e84459db4931ad368383c31a177ae7d423e4a/store/71f01d798ad4ac4cc90188fca7d2f48e9ef08a76f9f1384a475bc0fa7ea7/sale_149481_primary_image.jpg");
}
.story .skills {
  background-image: url("https://cdnp0.stackassets.com/0799bf00352de2d2111fa7580a4aeb4d5e36829c/store/831574f40ca85b498631ae2881f81d02cd9eedd411afd5c0c8f689969ad6/sale_19040_primary_image.jpg");
}
.story .coding {
  background-image: url("https://cdnp1.stackassets.com/02fad6ebb5e9155d3d4f7bf70f8bdcd3a83e889c/store/f4d7f0d4bfd77a88b4226b7e2f7a0565a4d18afa18fdcfe4a0a35ff72346/sale_148069_primary_image.jpg");
}
.story .xsplit {
  background-image: url("https://cdnp0.stackassets.com/a128562cd1aa11af3540443b084537e22e470fea/store/d6cedecfe0c6510eb288464579ab577c9d8ad010a1c3e93d1490104a7338/sale_21097_primary_image.jpg");
}
.story .python {
  background-image: url("https://cdnp1.stackassets.com/4c6357549bbe196eac7a2a550f3cf2a380f39e44/store/7d5851d962ea8a62a7e9939f0efebc686b69d83821b63060d3109048021b/sale_19399_primary_image.jpg");
}
.story .ai {
  background-image: url("https://cdnp3.stackassets.com/fa74fc0ae00dca34fbe6bbeede760a176caf0a21/store/eb873f170e9b4a3722fb708fd8b520072c6a2de5201831f5310bb9030132/sale_48032_primary_image.jpg");
}
.story .google {
  background-image: url("https://cdnp3.stackassets.com/2e48d6d88c977fabc12957eda48ff551dcafec57/store/00da8d07fbefac67f53c9b8d947428a1fc5b56032537455cc1a84d5faff9/sale_118994_primary_image.jpg");
}
.story .cert {
  background-image: url("https://cdnp3.stackassets.com/4a072a16e2442e554487a911cac65dbc6c900d0b/store/1ef683695ea4830afe8124ceb99fbb489b905a51107a47bf05320636c0bf/sale_118997_primary_image.jpg");
}
.story-article h4:hover {
  text-decoration: underline;
  color: #f42;
}
.story-article ul {
  margin-top: 1rem;
}
.story-article li,
.tech-header li,
.story-article li a {
  display: inline;
  color: #5f5f5f;
}
.story-article li a:hover {
  color: #1f1d1d;
}
/* Technology Container */
.technology-container .hard-fork {
  background-image: url("https://img-cdn.tnwcdn.com/image?fit=1280%2C720&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2020%2F12%2Fslackstock.jpg&signature=563912982746faa3ac299cf1576a3aa3");
}
.technology-container .apps {
  background-image: url("https://img-cdn.tnwcdn.com/image?fit=1280%2C720&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2020%2F12%2FSnag_3e684c11.png&signature=d9f5af92fb7d65d0922d5f171b63d57b");
}
.technology-container .gear {
  background-image: url("https://img-cdn.tnwcdn.com/image?fit=1280%2C720&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2020%2F12%2FSnapdragon-888-Mockup.png&signature=c6208e7176cdd83eaa0e27427afa9bdc");
}
.technology-container .tech {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/corona_news-6_blue-796x398.gif");
}
.technology-container .creative {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/09/Untitled-design-13-796x417.jpg");
}
.technology-container .podium {
  background-image: url("https://img-cdn.tnwcdn.com/image?fit=1280%2C720&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2020%2F10%2Fgoogle-logo-podium.png&signature=7508777eee1fb9a39a65db1227be0b4a");
}
.technology-container .insights {
  background-image: url("https://img-cdn.tnwcdn.com/image?fit=1280%2C720&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2020%2F12%2Fmeeting-leader-startup-gq.png&signature=2c9db485eca73eb5dd338d5a7bd93df3");
}
.technology-container .launch {
  background-image: url("https://img-cdn.tnwcdn.com/image?fit=1280%2C720&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2020%2F10%2Fhummer-ev-future-car-love-hate-next-gmc-gm-ultium.jpg&signature=801c1c148b502bad4b7ba67bc6417c3a");
}
.technology-container .distract {
  background-image: url("https://img-cdn.tnwcdn.com/image?fit=1280%2C720&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2020%2F11%2Flucid-air-configurator-ray-tracing-car-future-ev-zerolight.jpg&signature=3a8658003cf3f92188923ab0528c18fb");
}
.article-image-container,
.technology-item .image-container {
  margin-top: 1rem;
  width: 100%;
  height: 22rem;
  /* this height is set for mobile version, it will be changed for desktop using a media query */
}
.technology-item {
  margin-bottom: 1rem;
}
.technology-item .cover-item-title {
  position: relative;
  bottom: 13rem;
  left: 1.5rem;
  z-index: 3;
  cursor: pointer;
  padding: 1rem 2rem 1rem 0;
}
.tech-item-article {
  position: relative;
  top: 0.5rem;
  width: 100%;
}
.tech-item-article header {
  padding: 1rem;
  color: #f42;
  background: #fff4f2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}
.tech-item-article .latest-title {
  font-family: "Teko", sans-serif;
}
.tech-item-article .sub-image {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/11/Untitled-design-3-1.png");
  width: 50%;
  height: 10rem;
}
/* sub-images for tech item articles */
.tech-item-article .num1 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/11/stonksdorsey.jpg");
}
.tech-item-article .num2 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/12/header-image-spotify-2020-wrapped.png");
}
.tech-item-article .num3 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2018/06/Samsung-Galaxy-Note-8.jpg");
}
.tech-item-article .num4 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/12/Untitled-1.jpg");
}
.tech-item-article .num5 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/09/card-v-card-bank-account-multiplayer-game.png");
}
.tech-item-article .num6 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/09/mixed-reality-spatial-computing-gq.png");
}
.tech-item-article .num7 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/12/slackstock.jpg");
}
.tech-item-article .num8 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/10/Amazon-Rivian-electric-delivery-van.jpg");
}
.tech-item-article .num9 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/12/meeting-leader-startup-gq-516x270.png");
}
/* lists below each tech item article */
.styled-list li::before {
  content: "•";
  color: #f42;
  position: relative;
  top: 2rem;
}
.styled-list .styled-list-item {
  margin-left: 2rem;
  display: list-item;
  list-style-position: outside;
  font-family: Arial, sans-serif;
  color: #555;
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 1.3rem;
  padding-bottom: 1.3rem;
  border-bottom: 1px solid #eee;
}
/* Latest funding */
.latest-funding {
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  padding: 8px;
  margin: 8px;
}
.latest-funding header {
  flex-direction: column;
}
.latest-funding .funding-header-links {
  flex-direction: column;
}
.latest-funding .header-link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80%;
  font-weight: 100;
  padding-top: 1.3rem;
  line-height: 0;
}
.funding-container {
  flex-flow: wrap;
}
.funding-container .last-funding-item {
  display: none;
}
.funding-item {
  padding: 8px 0;
}
.funding-item .funding-header {
  background: rgba(255, 68, 34, 0.08);
  height: 9rem;
}
.funding-item .fund-item-titles {
  background: #f42;
  color: #fff;
  padding: 1rem 1.5rem 1rem 7.5rem;
}
.funding-item .funding-logo {
  width: 60px;
  height: 60px;
  max-width: 60px;
  max-height: 60px;
  margin: 1rem;
  z-index: 5;
  position: relative;
  top: -43px;
}
.funding-item .funding-money {
  position: relative;
  top: -7rem;
  left: 7.5rem;
  height: auto;
}
.funding-item .funding-money h5 {
  font-family: "Teko", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: #555;
}
.funding-item .fund-item-text {
  font-size: 1.2rem;
  color: #555;
}
.funding-item .funding-tags i {
  padding-right: 1rem;
  color: #000;
}
.funding-item .funding-tags {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  line-height: 2rem;
  border-bottom: 1px solid rgba(255, 67, 34, 0.589);
  margin-bottom: 1.5rem;
}
.funding-item .funding-tags a:hover {
  color: #000;
}
/** latest deals */
.latest-header {
  justify-content: space-between;
  margin-bottom: 2rem;
}
.latest-header span {
  color: #f42;
}
.latest-header span:hover {
  color: #000;
}
/* footer */
.footer {
  width: 100%;
}
.footer-links {
  background: #131313;
}
.footer-wrapper {
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}
.footer-links-social {
  justify-content: center;
  text-align: center;
  margin: 2rem 0;
}
.footer-links-social .fab,
.footer-links-social .fas,
.footer-links-social .far {
  padding: 1rem;
  margin: 0.3rem;
  font-size: 1.5rem;
  color: #fff;
  border: 2px solid #333;
  border-radius: 50%;
  background-color: #333;
}
.footer-links-social .fab:hover,
.footer-links-social .fas:hover,
.footer-links-social .far:hover {
  background-color: #000;
}
.footer-menu {
  justify-content: center;
}
.footer-menu li {
  padding: 0 1rem;
  font-family: "Teko", sans-serif;
  font-size: 1.7rem;
  font-weight: 300;
  color: #aaa;
}
.footer-menu li:hover {
  color: #fff;
}
.footer-legal {
  background-color: #000;
  color: #aaa;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}
.legal-wrapper {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}
.legal-wrapper .logo-footer {
  height: 1.8rem;
}
.legal-wrapper .legal-link {
  align-items: center;
  padding: 0.3rem 0;
}
/** media query for desktop **/
@media only screen and (min-width: 1024px) {
  .nav-desktop {
    display: block;
  }
  .top-menu {
    display: flex;
  }
  .mobile-nav {
    display: none;
  }
  .top-menu .top-menu-left {
    position: relative;
    left: -53.5rem;
  }
  /* cover */
  .cover {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    margin: 1rem;
    padding-top: 2px;
  }
  .cover-one {
    grid-column: 0.33333333;
    grid-row: 1 / span 3;
  }
  .cover-one .date {
    position: relative;
    left: 82rem;
    top: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: #fff;
  }
  .cover-one .study {
    height: 448px;
  }
  .cover-one .cover-gradient {
    height: 448px;
    background-image: linear-gradient(
      rgba(235, 15, 15, 0.842),
      rgba(0, 0, 0, 0.952)
    );
  }
  .cover-one .article-title {
    font-size: 4rem;
    line-height: 4rem;
  }
  .cover-one .article-section {
    display: none;
  }
  .cover-one .white-logo {
    display: block;
    position: relative;
    top: 2rem;
    left: 2rem;
    height: 8rem;
    width: auto;
  }
  /** wrapper */
  .wrapper {
    margin: 2rem 20rem;
  }
  /** latest **/
  .latest .latest-articles {
    grid-template-columns: auto auto auto auto;
    gap: 2rem;
  }
  .story {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
  .story .latest-image {
    height: 20rem;
    margin-bottom: 1rem;
  }
  /** Funding **/
  .latest-funding .funding-header-links {
    flex-direction: row-reverse;
  }
  .latest-funding .funding-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .latest-funding .funding-header .header-link {
    padding: 0 0.6rem;
  }
  .latest-funding .funding-header .header-link:not(:last-child)::before {
    content: " |  ";
    color: #f42;
  }
  .funding-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    column-gap: 1rem;
  }
  .funding-container .last-funding-item {
    display: block;
  }
  /** Technology Container ***/
  .technology-container {
    grid-template-columns: auto auto auto;
    gap: 2rem;
  }
  .technology-container .tech-item-article {
    top: 0.2rem;
  }
}
/** media query for tablet (md) **/
@media (min-width: 768px) and (max-width: 1023px) {
  .nav-desktop {
    display: block;
  }
  .top-menu {
    display: flex;
  }
  .mobile-nav {
    display: none;
  }
  .medium-logo {
    background-image: url("./img/tnwlogo.png");
    position: absolute;
    top: 0;
    height: 6rem;
    width: 8rem;
    z-index: 120;
  }
  .top-menu-left {
    position: relative;
    left: -2.5rem;
    padding-left: 0;
  }
  .top-menu .top-search {
    margin-right: 0;
    margin-left: 11.5rem;
  }
  .top-nav .left-links {
    padding-left: 8.5rem;
  }
  .top-nav .right-links {
    padding-right: 11rem;
  }
  .sticky-logo {
    background-image: url("./img/tnwlogo.png");
    height: 3.5rem;
    width: 8rem;
    z-index: 119;
    background-size: cover;
  }
  /** cover **/
  .cover {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    margin: 1rem;
    padding-top: 2px;
  }
  .cover-one {
    grid-column: 0.33333333;
    grid-row: 1 / span 3;
  }
  .cover-one .date {
    display: none;
  }
  .cover-one .study {
    height: 448px;
  }
  .cover-one .cover-gradient {
    height: 448px;
    background-image: linear-gradient(
      rgba(235, 15, 15, 0.842),
      rgba(0, 0, 0, 0.952)
    );
  }
  .cover-one .article-title {
    font-size: 4rem;
    line-height: 4rem;
  }
  .cover-one .article-section {
    display: none;
  }
  .cover-one .white-logo {
    display: none;
  }
  /** latest **/
  .latest .latest-articles {
    grid-template-columns: auto auto auto;
    gap: 2rem;
  }
  .story {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
  .story .latest-image {
    height: 20rem;
    margin-bottom: 1rem;
  }
  /** funding **/
  .funding-container {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    column-gap: 1rem;
  }
  /** Technology Container ***/
  .technology-container {
    grid-template-columns: auto auto;
    gap: 2rem;
  }
}
